.header {
  background: #22c1c3;
  background: linear-gradient(0deg, #22c1c3 0%, rgba(65, 45, 253, 0.863183) 100%);
  height: 50px;
  width: auto;
  color: white;
  font-size: 3rem; }
  .header .imagen__texto {
    text-align: center; }

.footer {
  background-color: bisque; }
  .footer .footer__texto {
    font-size: 1rem;
    text-align: center;
    height: 3rem;
    align-content: center; }

:root {
  --primario:#f5e08eb4 ;
  --primarioOscuro: #f3cf3fb4;
  --secundario: #ffce00;
  --secundarioOscuro: rgb(233,287,2); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.body {
  background-color: #f5e08eb4; }
  .body .barra {
    background-color: var(--secundario); }
    .body .barra .navegacion .navegacion__ul {
      height: 30px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: space-around;
      justify-content: space-evenly;
      text-decoration: none;
      list-style: none; }
      .body .barra .navegacion .navegacion__ul .navegacion__link {
        text-decoration: none;
        font-size: 2rem; }
  .body .contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
    margin-left: 2rem;
    border-radius: 0.5px; }
    .body .contenedor .contenedor__card {
      width: 500px;
      height: 500px;
      overflow: hidden;
      border: 1px solid black;
      border-radius: 5px; }
      .body .contenedor .contenedor__card .imagen__texto {
        text-align: center;
        font-size: 2rem;
        background-color: var(--primarioOscuro);
        height: 65px; }
